body
{
    background-size: cover;
}

.heading
{
    font-size: 23px;
    color: white;
    margin: 0px;
    width: 100%;
}

.note
{
    font-size: 18px;
    color: black;
}

.div_speed
{
    float: left;
}

.img_speed
{
    width: 300px;
    border-radius: 200px;
    margin-left: 25px;
}

#btn-speed
{
    font-size: 23px;
    margin: 15px;
}

.div_volume
{
    float: right;
}

.img_volume
{
    width: 300px;
    border-radius: 200px;
    margin-right: 25px;
}

#btn-volume
{
    font-size: 23px;
    margin: 15px;
}

.play-button
{
    width: 130px;
    font-size: 25px;
}

canvas
{
    border: 5px solid white;
    border-radius: 20px;
}